<label>Login:</label>
<input type="text" class="form-control" ng-model="login" />
<label>Password:</label>
<input type="password" class="form-control" ng-model="password" />
<label>Email:</label>
<input type="email" class="form-control" ng-model="email" />
<button ng-click="register(login, password, email)">Зарегистрироваться</button>